<h2 mat-dialog-title class="matTitleCls page-title fw-medium">
  {{ data.cred_title }} Credendial
</h2>
<div mat-dialog-content>
  <form [formGroup]="addUpdateForm" class="container-fluid my-3">
    <div class="row">
      <mat-form-field class="w-100 mb-3" appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" required />
        <mat-error>
          <span *ngIf="addUpdateForm.controls.name.errors?.required"
            >Name is mandatory.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-3" appearance="standard">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" required />
        <mat-error>
          <span *ngIf="addUpdateForm.controls.description.errors?.required"
            >Description is mandatory.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-3" appearance="standard">
        <mat-select  placeholder="Enter Source" formControlName="source">
          <mat-option *ngFor="let item of sourceList" [value]="item">
            {{ item | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error>
            <span *ngIf="addUpdateForm.controls.source.errors?.required"
              >Source is mandatory.
            </span>
          </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-3" appearance="standard">
        <mat-select  placeholder="Enter Cloud Provider" formControlName="cloud_provider">
          <mat-option *ngFor="let item of cloudProvideList" [value]="item">
            {{ item | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error>
            <span *ngIf="addUpdateForm.controls.cloud_provider.errors?.required"
              >cloud_provider is mandatory.
            </span>
          </mat-error>
      </mat-form-field>
     <mat-form-field class="w-100 mb-3" appearance="standard">
        <mat-label>Credentials</mat-label>
        <textarea matInput formControlName="credentials" required></textarea>
        <mat-error>
          <span *ngIf="addUpdateForm.controls.credentials.errors?.required"
          >Credentials is mandatory.
          </span>
        </mat-error>
     </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button
  mat-dialog-close
    class="custom-btn-md ms-auto me-3 btnCancel add-btn-dil-comp"
  >
    Close
  </button>
  <button
    class="custom-btn-md m-0 me-3 btnCancel add-btn-dil-comp"
    (click)="onReset()"
  >
    Reset
  </button>
  <button
    class="custom-btn-md m-0  btnSubmit add-btn-dil-comp"
    (click)="addUpdateCredential()"
    [disabled]="!isValid"
  >
    {{ data.cred_title }}
  </button>
</div>
