::ng-deep .mat-dialog-container {
    height: 100vh;
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 24px !important;
    border-radius: 0;
  }
  
  ::ng-deep .mat-dialog-title {
    height: 32px;
    padding: 16px 0 !important;
    margin: 0 !important;
  }
  
  ::ng-deep .mat-dialog-content {
    max-height: calc(100% - 128px);
    outline: 1px solid #ccc;
    padding: 0 !important;
    margin: 0 !important;
  }
  
  ::ng-deep .mat-dialog-actions {
    min-height: 32px;
    height: 32px;
    padding: 16px 0 !important;
    margin: 0 !important;
  }
  
  textarea {
    height: 200px;
  }
  
  .add-btn-dil-user{
    margin-left: 5px;
    height: 40px !important;
  }

  .customization{
    text-align: center;
    color: red;
    margin-left: 25%;
  }