@use 'sass:map';
@import 'overrides/variable.scss';

.perf-mid-bar {
  // background: map.get($mat-color-custom-list, 'primary-100');
  height: 27px;
  padding: 10px;
}

.search-btn {
  float: right;
}

.refresh-div {
  button {
    float: right;
  }
}

.add-btn-config{
  height: 40px !important;
}