@import '~@angular/material/theming';
@include mat-core();

@import './variable.scss';

$orchestration-app-primary: mat-palette($mat-custom-primary);
$orchestration-app-accent: mat-palette($mat-custom-accent);
$orchestration-app-warn: mat-palette($map-custom-negative);

$orchestration-app-theme: mat-light-theme(
  (
    color: (
      primary: $orchestration-app-primary,
      accent: $orchestration-app-accent,
      warn: $orchestration-app-warn,
    ),
  )
);

$orchestration-typography: mat-typography-config(
  $font-family: 'Exo',
  $body-1: mat-typography-level(16px, 24px, 300),
);

@include angular-material-theme($orchestration-app-theme);
@include angular-material-typography($orchestration-typography);
