.otp-input.otp-input-r {
  width: 33px !important;
  height: 48px !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  border: 1px solid #aeb4c5 !important;
  font-weight: 500;
}

.otp-input.otp-input-r:focus-visible {
  outline: none;
}
