:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}

$mat-custom-primary: (
  50: #e4e9f2,
  100: #bcc8e0,
  200: #90a3cb,
  300: #647eb6,
  400: #4263a6,
  500: #214796,
  600: #1d408e,
  700: #183783,
  800: #142f79,
  900: #0b2068,
  A100: #9badff,
  A200: #6883ff,
  A400: #3559ff,
  A700: #1b44ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$mat-custom-accent: (
  50: #feeeea,
  100: #fdd4ca,
  200: #fbb8a6,
  300: #f99c82,
  400: #f88668,
  500: #f7714d,
  600: #f66946,
  700: #f55e3d,
  800: #f35434,
  900: #f14225,
  A100: #ffffff,
  A200: #fff9f8,
  A400: #ffccc5,
  A700: #ffb6ac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// positive color pallete
$mat-custom-success: (
  50: #e4f1e8,
  100: #badbc5,
  200: #8dc39e,
  300: #5fab77,
  400: #3c9959,
  500: #1a873c,
  600: #177f36,
  700: #13742e,
  800: #0f6a27,
  900: #08571a,
  A100: #8bff9f,
  A200: #58ff75,
  A400: #25ff4b,
  A700: #0bff35,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// warning color pallate
$mat-custom-warning: (
  50: #fbece4,
  100: #f5d1bc,
  200: #efb290,
  300: #e89364,
  400: #e37b42,
  500: #de6421,
  600: #da5c1d,
  700: #d55218,
  800: #d14814,
  900: #c8360b,
  A100: #fff6f4,
  A200: #ffccc1,
  A400: #ffa38e,
  A700: #ff8e74,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// info color pallete
$mat-custom-info: (
  50: #e0eefc,
  100: #b3d5f7,
  200: #80b9f1,
  300: #4d9ceb,
  400: #2687e7,
  500: #0072e3,
  600: #006ae0,
  700: #005fdc,
  800: #0055d8,
  900: #0042d0,
  A100: #f8faff,
  A200: #c5d3ff,
  A400: #92adff,
  A700: #799aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$map-custom-negative: (
  50: #f8e3e4,
  100: #eeb9bc,
  200: #e38b90,
  300: #d85d63,
  400: #cf3a41,
  500: #c71720,
  600: #c1141c,
  700: #ba1118,
  800: #b30d13,
  900: #a6070b,
  A100: #ffd2d3,
  A200: #ff9fa0,
  A400: #ff6c6e,
  A700: #ff5255,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// color list classes for text and background
$mat-color-custom-list: (
  primary-100: #214796,
  primary-90: #315cbb,
  primary-80: #406fd3,
  primary-5: #d8e9fd,
  primary-0: #f6fbff,
  primary-110: #1c326a,
  secondary-100: #ef5425,
  secondary-110: #cd3400,
  secondary-90: #f7714d,
  neutral-0: #ffffff,
  neutral-10: #f5f6fb,
  neutral-20: #e7eaf4,
  neutral-40: #c4c9d9,
  neutral-50: #afb4c5,
  neutral-70: #767b87,
  neutral-80: #52555e,
  neutral-100: #000000,
  positive-100: #1a873c,
  positive-110: #0b7133,
  positive-10: #dcfce3,
  warning-100: #de6421,
  warning-110: #c04503,
  warning-10: #fff3ea,
  negative-100: #c71720,
  negative-110: #96181c,
  negative-10: #ffdbdc,
  info-100: #0072e3,
  info-110: #0061c3,
  info-10: #daf0ff,
);

// text-primary-100
// bg-primary-100
