.mat-accordion {
  margin: 2rem 0;
}

.mat-expansion-panel {
  background-color: #f4f7fc;
}

.mat-expansion-panel-header-title {
  font-weight: 500;
}

.active-accordion {
  color: #f7714d;
}

.add-btn-audit{
  margin-left: 32%;
  height: 40px !important;
}