<div class="breadcrum">
  <span>Configuration/</span>
  <span class="font-weight-bold"> Manage Credentials</span>
</div>
<div class="pagetitle">
  <span>Manage Credentials</span>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="mt-3 ms-auto add-btn-div">
      <button
        class="custom-btn-md me-2 btnSubmit add-btn-mag-cred"
        (click)="onAddClick()"
      >
        Add Credential
      </button>
    </div>
    <app-shared-table
      *ngIf="manageCredentialsData"
      [columns]="manageCredentialsColumns"
      [data]="manageCredentialsData"
      [isFilter]="false"
      (editAction)="onEditClick($event)"
      (deleteAction)="onDeleteClick($event)"
    ></app-shared-table>
  </div>
</div>
