<div class="row">
  <button
    *ngIf="(codeData | keyvalue)?.length"
    mat-icon-button
    aria-label="delete"
    class="mt-3 ms-auto"
    (click)="onDeleteClick()"
  >
    <span [matTooltip]="'Delete'" class="delete-icon"></span>
  </button>
  <button
    *ngIf="(codeData | keyvalue)?.length"
    mat-icon-button
    aria-label="edit"
    class="mt-3 me-5"
    (click)="onEditClick()"
  >
    <span [matTooltip]="'Edit'" class="edit-icon"></span>
  </button>
  <button
    *ngIf="task_name && !(codeData | keyvalue)?.length"
    color="accent"
    class="custom-btn-md w-auto mt-4 ms-auto me-5"
    mat-flat-button
    (click)="onAddClick()"
  >
    Add Code
  </button>
  <div
    class="row text-center my-5"
    *ngIf="codeData && !(codeData | keyvalue)?.length"
  >
    <p>No configuration available</p>
  </div>
  <app-shared-keyvalue-table
    [data]="codeData"
    *ngIf="(codeData | keyvalue)?.length"
  ></app-shared-keyvalue-table>
</div>
