<header class="guest-layout-header">
  <mat-toolbar class="logo-top-bar" color="primary">
    <mat-toolbar-row style="justify-content: center">
      <div class="col-sm-4 px-0">
        <img
          class="align-middle"
          height="32"
          src="assets/images/hcmp-logo-n-text.png"
          alt="Loading Image"
        />
      </div>
      <div class="col-sm-4 px-0 text-center">

      </div>

      <div class="col-sm-4 px-0 text-right"></div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
