<h2 mat-dialog-title class="matTitleCls page-title fw-medium">
  {{ data.cred_title }} Credendial
</h2>
<div mat-dialog-content>
  <form [formGroup]="addUpdateForm" class="container-fluid my-3">
    <div class="row">
      <mat-form-field class="w-100 mb-3" appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" required />
        <mat-error>
          <span *ngIf="addUpdateForm.controls.name.errors?.required"
            >Name is mandatory.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-3" appearance="standard">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" required />
        <mat-error>
          <span *ngIf="addUpdateForm.controls.description.errors?.required"
            >Description is mandatory.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-3" appearance="standard">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" required />
        <mat-error>
          <span *ngIf="addUpdateForm.controls.username.errors?.required"
            >Username is mandatory.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-3" appearance="standard">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="password_hidden ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <a
          mat-icon-button
          matSuffix
          (click)="togglePasswordHidden()"
          class="text-neutral-70 fz-12"
        >
          <span
            [ngClass]="{
              'view-on': !password_hidden,
              'view-off': password_hidden
            }"
          ></span>
        </a>
        <mat-error>
          <span *ngIf="addUpdateForm.controls.password.errors?.required"
            >Password is mandatory.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-3" appearance="standard">
        <mat-label>SSH Key</mat-label>
        <input matInput type="text" formControlName="ssh_key" required />
        <mat-error>
          <span *ngIf="addUpdateForm.controls.ssh_key.errors?.required"
            >SSH Key is mandatory.
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button
  mat-dialog-close
    class="custom-btn-md ms-auto me-3 btnCancel add-btn-dil-comp"
  >
    Close
  </button>
  <button
    class="custom-btn-md m-0 me-3 btnCancel add-btn-dil-comp"
    (click)="onReset()"
  >
    Reset
  </button>
  <button
    class="custom-btn-md m-0  btnSubmit add-btn-dil-comp"
    (click)="addUpdateCredential()"
    [disabled]="!isValid"
  >
    {{ data.cred_title }}
  </button>
</div>
